.selector {
    --background: red;
    --color: 0.36;

    color: green;
}

.selector2 {
    font-family: "Courier New", Courier, monospace;
    font-size: large;
    position: relative;
    left: 0;
    top: 0;
    border: red;
    display: block;

    @include fonts;
    @include colors;
}

.selector3 {
    @include colors;
    @include hover;

    .span {
    }
}
