.selector {
    --background: red;
    --color: 0.36;

    color: green;
}

.selector2 {
    border: red;
    display: block;

    @include colors;
}

.selector3 {
    @include colors;
    @include hover;

    .span {
    }
}
