{
    "printWidth": 125,
    "tabWidth": 4,
    "singleAttributePerLine": true,
    "trailingComma": "none",
    "experimentalTernaries": true,
    "arrowParens": "avoid",
    "plugins": ["./src/index.mjs"],
    "grundyScssSorterWithRoot": false,
    "grundyScssSorterSplitGroup": true,
    "grundyScssSorterGroupsOrder": [
        "@use",
        "@extend",
        "--variable",
        "$variable",
        "@font",
        "decl",
        "@if",
        "@include",
        "rule"
    ],
    "grundyScssSorterGroups": "{\"@font\": { \"startsWith\": \"font\" }}"
}
